@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jQueryValidator/jquery.js"></script>
    <script src="~/Scripts/jQueryValidator/jquery.validate.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <link href="~/Content/bootstrap-4.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />

    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <link href="~/Content/Login/Login.css" rel="stylesheet" />
    <script src="~/Scripts/Login/Login.js"></script>
</head>
<body>
    <div ng-app="MyApp" ng-controller="MyController">
        <div class="container divcenter">
            <form class="form-horizontal fondoLogin" role="form" name="formulario">

                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-7">
                        <br />
                        <h2>Login Venta Planes Empresariales</h2>
                        <hr>
                    </div>
                </div>
                @*<a href="~/Views/Login/Login.cshtml">~/Views/Login/Login.cshtml</a>*@
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <div class="form-group has-danger">
                            <label class="sr-only" for="usuario">usuario</label>
                            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-at"></i></div>
                                <input type="email" name="usuario" class="form-control" id="usuario"
                                       placeholder="email@ejemplo.com" ng-model="usuario" required>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="sr-only" for="password">Password</label>
                            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
                                <input type="password" name="contrasena" class="form-control" id="contrasena"
                                       placeholder="Contraseña" ng-model="contrasena" required>
                            </div>
                        </div>
                        <div ng-show="mostrarMensaje" class="alert alert-danger">
                            * El usuario y/o la contraseña con incorrectos.
                        </div>
                    </div>
                    <div class="col-md-3">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6" style="padding-top: .35rem">
                        <div class="form-check mb-2 mr-sm-2 mb-sm-0">
                        </div>
                    </div>
                </div>              

                <div class="row" style="padding-top: 1rem">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-success" ng-click="ValidarLogin(usuario, contrasena)"><i class="fa fa-sign-in"></i> Login</button>
                        <a class="btn btn-link" href="/password/reset">Olvidé mi contraseña</a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-7">
                        <br />
                        <hr>
                    </div>
                </div>

            </form>
        </div>
    </div>
</body>
</html>
